body {
    background-color: rgb(22, 186, 55);
}

.input {
    width: 80.5%;
}

.create {
    background-color: #6c4303;
    text-align: center;
    align-items: center;
    display: grid;
    margin-left: 50px;
    border: 3px solid black;
    color: white;
    height: 160px;
    width: 160px;
    border-radius: 10%;
}
.create:hover{
    border: 3px solid black;
}